body{
    background-color: #FFFFFF;
    margin: 0;
}
.header {
    height: 40px;
    width: 100%;
    background-color: #e3e4e5;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.header div,a{
    text-decoration: none;
    margin-left: 20px;
}
.left {
    width: 50px;
    height: 600px;
    top: 150px;
    left: 150px;
    position: absolute;
}
.left div {
    width: 400px;
    height: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#collection,#against{
    height: 40px;
    width: 40px;
    margin-left: 50px;
}
.left .gpicture {
    width: 400px;
    height:400px;
    border: #eeeeee 2px solid;
}
.goodsInfo {
    width: 500px;
    height: 700px;
    position: absolute;
    top: 150px;
    right: 150px;
    padding-left: 20px;
    /*background-color: whitesmoke;*/
    font-size: 1.3rem;
}
.gname {
    height: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.gprice {
    height: 50px;
}
.gdetails {
    height: 100px;
}
.address{
    height: 50px;
    margin-top: 20px;
}
.address input {
    margin-left: 50px;
    height: 30px;
}
.server {
    height: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.server-item {
    margin-left: 55px;
    width: 75px;
    height: 30px;
    border: #a9a9a9 1px solid;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-cart{
    margin-top: 20px;
    height: 100px;
}
#add-btn {
    margin-left: 50px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
#minus-btn{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
#num-input {
    width: 75px;
    height: 30px;
}
.add-cart {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: #df3033;
    color: white;
}
.comments {
    margin-top: 20px;
}
.comments li {
    margin-top: 20px;
}
